@charset "UFT-8";

@import url("https://fonts.googleapis.com/css2?family=bebas+neve&display=swap");

@font-face {
        font-family: 'Android'   ;
        src: url("../fontes/idroid.otf")format("opentype")
       
        
}
/*
#c5ebd6
#83elad
#3ddc84
#2faB66
#la5c37
#063die

*/
*{
    margin: 0px;
    padding: 0px;
}

main p{
    margin: 15PX 0px ;
    text-align: justify;
    padding: 10px;

}

:root {
    --cor0: #c5ebd6;
    --cor1: #83elad;
    --cor2: #3ddc84;
    --cor3: #2faB66;
    --cor4: #la5c37;
    --cor5: #063dle;  
    
    --fonte-padrao: Arial,verdana,helvetica,sans-serif;
    --fonte-destaque: "Bebas Neve", Cursive;
    --fonte-android: "android",cursive;
}

body{
    background-color: rgba(136, 226, 163, 0.589);
    font-family: Arial, Helvetica, sans-serif;
}

header{   
    background-image: linear-gradient(to bottom, #52bd7f ,  #0f4126  );
    min-height:150px ;
    text-align: center;
    padding-top: 20px;
}

header > h1 {
     
      text-align: center;
      color: antiquewhite; 
      font-family:  var(--fonte-destaque);
      font-size: 3em;
      margin-bottom: 20px;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);  } 
  
  header p {
    padding-bottom: 10px;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
       color:antiquewhite;
       text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322); 


  }

  h2.la{
    margin-top: 38px;
}
 

main{
    min-width: 300px;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding:20px;
    background-color: aliceblue;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.753);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;

}

nav{
    padding: 0px 10px 10px 10px;
    background-color: #0f4126;
    box-shadow: -2px 5px 4px 2px rgba(0, 0, 0, 0.568) ;
}
nav a {
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    
 
}

nav > a:hover{
    background-color: #2faB66;
    color: #317e51;
}

main h1{
    font-family: var(--fonte-android);
    color: #1e7244;
   
}

main h2{
    font-family: var(--fonte-android);
    color: #1f9654;
    background-image:linear-gradient(to right,rgb(72, 174, 106),rgb(226, 255, 238)) 
     
}
  div#loo{
    border-radius: 20px ;
    background-color: #52bd7f6d;
    margin: auto;
    height: 100%;
  }
main p{
    margin: 15PX 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 2cm;

}
footer{
    background-color: #0f4126;
    text-align: center;
}